.App {
    text-align: center;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}



.dropdown-container {
    position: relative;
}

.jobslist-container {
    width: 90%;
}

#button-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
}

.App-footer {
    background-color: #282c34;
    min-height: 10vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}


::-webkit-scrollbar {
    width: 15px;
}


::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}


::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}


.App-disregard {
    display: None;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background-color: #cacace;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 20px;
    text-align: left;
    color: #333;
    font-family: 'Times New Roman', Times, serif;
}

.help {
    color: #fff;
    font-size: 1.2em;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

.welcome {
    color: #fff;
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.resource-header {
    color: #144210;
    font-size: 1em;
    margin: 0;
    padding: 0;
    font-weight: bold;
    text-decoration: underline;
}


.nav-link {
    background-image: linear-gradient(to right,
            #54b3d6,
            #54b3d6 50%,
            #fff 50%);
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}

.nav-link:before {
    content: '';
    background: #54b3d6;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

.nav-link:hover {
    background-position: 0;
}

.nav-link:hover::before {
    width: 100%;
}


.link:hover {
    background-position: 0;
    color: blue;
}
